# Azure DevOps Pipeline for Bicep Function Unit Tests (Linux-only example)

trigger:
  branches:
    include:
      - main
      - master

pr:
  branches:
    include:
      - main
      - master

variables:
  BICEP_VERSION: 'latest'

jobs:
- job: Test_Linux
  displayName: 'Test on Linux (example)'
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - checkout: self
    displayName: 'Checkout code'

  - bash: |
      echo "Installing Bicep CLI..."
      curl -Lo bicep https://github.com/Azure/bicep/releases/latest/download/bicep-linux-x64
      chmod +x bicep
      sudo mv bicep /usr/local/bin/bicep
      bicep --version
    displayName: 'Install Bicep CLI'

  - bash: |
      chmod +x ./framework/run-tests.sh
      ./framework/run-tests.sh -v
    displayName: 'Run Bicep function tests (framework)'

  - task: PublishTestResults@2
    displayName: 'Publish test results'
    condition: always()
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**/test-results.xml'
      failTaskOnFailedTests: true
      testRunTitle: 'Bicep Function Tests (Linux)'
